html {
	text-align: center;
	background-image: url("../images/background.png");
}

p {
	line-height: 1.5;
}

h1{
	font-size: 50px;
	padding: 10px;
	background: #bd99ce;
	display: inline-block;
	font-weight: bold;
	margin: 10px;
}

#instructions {
	padding: 10px;
	background: bisque;
	margin: 10px auto;
	width: 50%;
}

#number {
	background: #9bffcd;
	display: inline-block;
	padding: 10px;
}

#winLose {
	background: #98cdfb;
	display: inline-block;
	padding: 10px;
	margin: 10px;
}

#scoreboard {
	background: #98cdfb;
	display: inline-block;
	padding: 10px;
	margin: 10px;
}

img {
	width: 150px;
}